*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-dark: #050835;
  --clr-container: #000A81;
  --clr-light: #CDD1FF;
  --clr-accent: #0059F6;

  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.75rem;
  --fs-h4: 1.5rem;
  --fs-body : 1.25rem;

}


@media (min-width: 800px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-h4: 1.75;
    --fs-body : 1.5rem;
  }
}

/* General stylings */
body {
  margin: 0;
  padding: 0;
  background: var(--clr-dark);
  color: var(--clr-light);
  font-size: var(--fs-body);
}

h1,h2,h3,h4,p {
  margin: 0;
  padding: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}
h4 {font-size: var(--fs-h4);}

img {
  width: 100%;
  display: block;
}
/* Styling element*/
.background-div {
  padding: 1em;
}

.skill-div {
  background: var(--clr-container);
  padding: 1em;
}

.info-div {
  background: var(--clr-accent);
  padding: 1em;
}

.list-subtitle {
  background: var(--clr-accent);
  display: inline-block;
  margin: .75em 0 .25em;
  padding: .175em .5em;
}

.info-list li {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.info-icon {
  margin-right: 1em;
}

.list {
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.list h4 {
  align-self: left;
}

.icons-container {
  margin-top: 1em;
}

.icon:hover {
  opacity: .5;
}

.icon-link {
  text-decoration: none;
  color: var(--clr-light);
  padding: .3em;
  font-size: var(--fs-h3);
}

.card-author {
  margin: .8em 0;
  opacity: .5;
}

.card-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1em;
}
.card {
  padding: 1em;
  background: var(--clr-container);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin: 1em;
}

.intro-img {
  margin-bottom: 1em;
}

.about-me-title {
  margin-bottom: .5em;
  color: var(--clr-accent);
}
.about-me-title::after {
  content: '';
  display: block;
  width: 3em;
  height: 1px;
  background: var(--clr-accent);
  color: var(--clr-accent);
  margin: 1em auto;
}

.content-subtitle {
  background: var(--clr-accent);
  display: inline-block;
  align-self: flex-start;
  padding: .7em;
  font-weight: bold;
  margin-bottom: 1em;
}
.content-title {
  margin-bottom: 1em;
  align-self: start;
  font-size: var(--fs-h3);
}

.title {
  margin-bottom: 1.5em;
}
.logo {
  cursor: pointer;
  font-size: var(--fs-h2);
  text-decoration: none;
  color: var(--clr-light);
}

.nav-menu {
  text-align: right;
  padding: 0;
  margin: 0;
  font-size: var(--fs-h3);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.nav-menu-list {
  list-style-type: none;
}

.nav-list {
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  color: var(--clr-light);
  padding-left: 2em;
  font-size: var(--fs-h3);
}



.form-container form .form-field{
  height: 50px;
  font-size: var(--fs-body);
  margin-bottom: 2em;
  color: var(--clr-light);
  background: var(--clr-dark);
  border: none;
}

.btn {
  align-self: center;
  display:inline-block;
  font-size: var(--fs-body);
  text-transform: uppercase;
  letter-spacing: 5px;
  background: var(--clr-accent);
  color: var(--clr-light);
  border: none;
  border-radius: 2.5px;
  font-weight: bold;
  padding: .5em 1.5em;
  cursor: pointer;
}

footer p {
  font-size: .8rem;
}

/* Layouting*/
.container {
  text-align: center;
}
.skill-div, .background-div {
  text-align: left;
}
/* Element positioning */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: .5em 1em;
}

.nav-bar .nav-list{
  display: flex;
  margin: 0;
  padding: 0;
}

.content-container{
  margin: 0 auto 0;
  padding: 2em 2em 5em;
  display: inline-block;
}

.form-container form{
  margin-top: 1em;
  text-align: left;
  background: var(--clr-container);
  display: inline-flex;
  flex-direction: column;
  padding: 3em 1em;
  border-radius: 10px;
}

/* Display/Hide elements*/
.links-container {
  display: none;
}

.nav-menu-list {
  display: none;
}


@media (min-width: 600px) {
  .intro-container {
    display: grid;
    width: min-content;
    grid-gap: .5em;
    margin: 0 auto;
    grid-template-columns: min-content max-content;
    grid-template-areas: 
      "img wrapper"
      "img about-me"
    ;
  }
  .content-title {
    margin-bottom: 1.5em;
  }

  .content-subtitle {
    margin-bottom: 1em;
  } 

  .intro-img {
    grid-area: img;
    min-width: 300px;
  }

  .about-me {
    grid-area: about-me;
    max-width: 400px;
  }

  .wrapper {
    grid-area: wrapper;
    align-self: flex-start;
  }
}

@media (min-width: 600px) {
  .nav-menu {
    display: none;
  }

  .links-container {
    display: block;
  }
}

@media (min-width: 600px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    "info info"
    "skill background"
    ;
  }
  .info-div {
    grid-area: info;
    position: relative;
    z-index: 2;
  }

  .skill-div {
    grid-row: -1/1;
    grid-column: 1/2;
    padding-top: 450px;
  }

  .education-list li{
    display: flex;
    justify-content: space-between;
  }

  .info-div {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 50px auto;
    grid-template-areas: 
    "title gap"
    "list img";
    grid-gap: 1em;
    border: 12.5px solid var(--clr-dark);
    margin-left: 1em;
    margin-top: 1em;
  }
  .info-list {
    grid-area: list;
  }

  .portfolio-img {
    max-width: 250px;
    grid-area: img;
    margin: 0 auto ;
    position: relative;
    top: -30px;
  }

}